<h4>Your Favorites</h4>


  <%= @current_user.favorable %>

  <hr>

  <%= test %>

  <hr>

<% @current_user.favorable(type: "product").each do |f| %>
  <%= @current_user.id %>
  <p><%= f.id %></p>
  <img src="<%= f.id %>">
  <%= f.id %>
<% end %>
