<div class="product
  <% @favorites.each do |favorite| %>
    <% if favorite.product_id == product.id %>
      favorited
    <% end %>
  <% end %>
">

  <%= link_to image_tag(product.image_url(:thumb)), product if product.image? %>

  <div class="details">

    <div class="name"><%= product.name %></div>

    <div class="favorite-toggle">
      <a href="javascript:" class="fav-it">
      <%= form_tag url_for( :controller => "favorites",
                            :action => "create",
                            :method => "post",
                            :user_id => current_user.id,
                            :product_id => product.id ),
                            :remote => true do %>

          <span class="fav-star">&#9734;</span>
          <%= submit_tag "favorite it!" %>
      <% end %>
      </a>

      <a href="javascript:" class="un-fav-it">
      <%= form_tag url_for( :controller => "favorites",
                    :action => "destroy",
                    :method => "delete",
                    :user_id => current_user.id,
                    :product_id => product.id),
                    :remote => true do %>

        <span class="fav-star">&#9734;</span>
        <%= submit_tag "Un favorite it!" %>
      <% end %>
      </a>
    </div>

    <%if current_user.email == ENV["ADMIN_EMAIL"] %>
      <div class="actions">
        <%= link_to "edit", edit_product_path(product) %> |
        <%= link_to "remove", product, :method => :delete %>
      </div>
    <% end %>
  </div>
</div>
