<div class="product">
  <%= link_to image_tag(product.image_url(:thumb)), product if product.image? %>
  <div class="name"><%= product.name %></div>
    <p>
      Tags: <%= raw product.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>
    <div class="actions">
      <%= link_to "edit", edit_product_path(product) %> |
      <%= link_to "remove", product, :method => :delete %>
    </div>

    <div class="fav-it">
      <%= form_tag url_for( :controller => "favorites",
                            :action => "create",
                            :method => "post",
                            :user_id => current_user.id,
                            :product_id => product.id ),
                            :remote => true do %>

        <div class="favorite-it">
          <span class="fav-star">&#9734;</span>
          <%= submit_tag "favorite it!" %>
        </div>
      <% end %>
    </div>

</div>