<div id="index">
  <div class="gallery-name">
    <div>
      <h1><%= @header_name %></h1>
    </div>
  </div>

  <div id="tag_cloud">
    <% tag_cloud Product.tag_counts, %w[s m l] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>

  <div id="products">
    <% @products.each do |product| %>
    <div class="product <% @favorites.each do |favorite| %><% if favorite.product_id == product.id %>favorited<% end %><% end %>"
            id="<%= product.id %>"
    >

      <%= link_to image_tag(product.image_url(:thumb)),  product, :class => "product-thumbnail" %>

      <div class="details">

        <div class="name"><%= product.name %></div>

        <div class="favorite-toggle">
          <a href="javascript:" class="fav-it">
          <%= form_tag url_for( :controller => "favorites",
                                :action => "create",
                                :method => "post",
                                :user_id => current_user.id,
                                :product_id => product.id ),
                                :remote => true do %>

              <span class="fav-star">&#9734;</span>
              <%= submit_tag "favorite it!" %>
          <% end %>
          </a>

          <a  href="javascript:" class="un-fav-it">
          <%= form_tag url_for( :controller => "favorites",
                        :action => "destroy",
                        :method => "delete",
                        :user_id => current_user.id,
                        :product_id => product.id),
                        :remote => true do %>

            <span class="fav-star">&#9734;</span>
            <%= submit_tag "Un favorite it!" %>
          <% end %>
          </a>
        </div>

        <%if current_user.email == ENV["ADMIN_EMAIL"] %>
          <div class="actions">
            <%= link_to "edit", edit_product_path(product) %> |
            <%= link_to "remove", product, :method => :delete %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>

  </div>


  <div class="clear"></div>
  <%= will_paginate @products, previous_label: h("<"), next_label: h(">") %>

  <% if current_user.email == ENV["ADMIN_EMAIL"] %>
    <%= form_for Product.new do |f| %>
      <%= f.label :image, "Upload paintings:" %>
      <%= f.file_field :image, multiple:true, name: "product[image]" %>
    <% end %>

    <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      {%=o.name%}
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
    </script>
  <% end %>

</div>