<div id="show">
  <p id="notice"><%= notice %></p>

  <h1>
    <b>Name:</b>
    <%= @product.name %>
  </h1>

  <p>
    Tags: <%= raw @product.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  </p>

  <%= form_tag(:controller => "favorites", :action => "create", :method => "post" ) do %>
    <%= text_field_tag :user_id, current_user.id, :class => "add-to-fav" %>
    <%= text_field_tag :product_id, @product.id,  :class => "add-to-fav" %>
    <div class="favorite-it"><span class="fav-star">&#9734;</span> <%= submit_tag "favorite it!" %> </div>
  <% end %>

  <p class="full-size-show">
    <%= image_tag @product.image_url , class: "full-size-img" %>
  </p>

  <% if current_user %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %>

  <%= link_to 'Back', products_path %>

</div>